* {
    margin: 0;
    padding: 0
}
body {
    margin: 0;
    width: 100%;
    text-align: center;
}
header {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    box-shadow: 5px 4px 5px;
}
main {
    padding: 0 1em;
    text-align: center;
    margin: 0 auto;
}
#controls button {
    margin: .75em 1em;
}
#score {
    display: block;
    font-size: 1.25em;
    margin: 1em auto;
    padding: 1em;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 3px 2px;
    width: 13em;
}
 p {
    margin: 1em
}
button {
    width: fit-content;
    padding: .5em .75em;
    margin: 0 auto;
    transition: .5s all linear;
}
button:hover {
    color: white;
    background-color: black;
}
#intervals {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    border: 1px solid;
    margin: 1em auto;
    justify-content: center;
    padding: 1em;
    box-shadow: 5px 5px 3px 2px;
}
ul {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
ul li {
    margin: 0 2em;
}
ul li a {
    color: black;
    text-decoration: none;;
}
a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    background: black;
    color: white;
    width: 100%;
}